{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Reset Password</h2>
                    <p class="card-text">Enter your email address to receive a password reset link.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
