{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirm Password Reset</h2>
                    <p class="card-text">Please enter a new password for your account.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
