{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">
    {% for tip in tips %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ tip.cover_image.url }}" class="card-img-top" alt="Cover Image">
            <div class="card-body">
                <h5 class="card-title">{{ tip.title }}</h5>
                <p class="card-text">{{ tip.content| safe | slice:":150" }}{% if tip.content|safe|length > 150 %}...{% endif %}</p>
                <a href="{% url 'fitnesstip_detail' tip.pk %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
